# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# generated Make recipes
*.d

# Executables
*.exe
*.out
tmc
test

# CMAKE build folder
build*/

# VSCode
.vscode

# Vim swap file
*.swp

# Python virtual environment
.venv/

# Python byte-compiled
__pycache__/

# cache
cache_tidy.txt
